body {
padding: 50px;
background:url('/media/images/squairy_light.png');
}

.navbar {
margin-bottom: 30px;
}

p {
font-weight: 400;
}

.red {
color: #721415;
}

.flourish {
margin-left: auto;
margin-right: auto;
padding: 30px;
}
